.container {
    display: inline-flex;
    gap: 4px;
    border: 1px solid #d4af37;
    border-radius: 20px;
    /* overflow: hidden; */
  }
  
  .button {
    background-color: #801a3d;
    color: #d4af37;
    border: none;
    padding: 4px 6px;
    font-size: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color: #9c254b;
    transform: translateY(-1px);
  }
  
  .active {
    background-color: #d4af37;
    color: #801a3d;
    font-weight: bold;
  }
  